[Unit]
Description=SysMonitorMod service

[Service]
User=root
WorkingDirectory=/usr/local/bin
ExecStart=sys-monitor-mod.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target

